dummy-cache-cluster/src/main/app/dummy-cache-cluster.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apache-ignite="http://www.mulesoft.org/schema/mule/apache-ignite" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apache-ignite http://www.mulesoft.org/schema/mule/apache-ignite/current/mule-apache-ignite.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${default.http.port}" doc:name="HTTP Listener Configuration"/>
    <apache-ignite:connection-manager name="ignite" igniteSpringCfgFile="ignite.xml" igniteInstanceName="grid1" doc:name="Apache Ignite: Apache Ignite Connection manager"/>
    <apache-ignite:cache-scope-strategy name="CacheScopeStrategy" manager-ref="ignite" doc:name="Apache Ignite: Cache scope strategy">
        <apache-ignite:cache-def cacheName="Cluster">
            <apache-ignite:cache-config>
                <apache-ignite:simple-cache-configuration atomicityMode="TRANSACTIONAL"/>
            </apache-ignite:cache-config>
        </apache-ignite:cache-def>
    </apache-ignite:cache-scope-strategy>
    <apache-ignite:config name="Apache_Ignite__Configuration" manager-ref="ignite" doc:name="Apache Ignite: Configuration"/>
    <flow name="dummy-cache-clusterFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP">
            <http:response-builder>
                <http:header headerName="Content-Type" value="text/plain"/>
            </http:response-builder>
        </http:listener>
        <apache-ignite:cache-scope key-ref="#[message.inboundProperties.'http.query.params'.q]" strategy-ref="CacheScopeStrategy" doc:name="Cache - Scope">
            <expression-component doc:name="expr: sleep for 10 seconds"><![CDATA[#[java.lang.Thread.currentThread().sleep(10000)]]]></expression-component>
            <set-payload value="Value received #[message.inboundProperties.'http.query.params'.q]" doc:name="payload: response"/>
        </apache-ignite:cache-scope>
    </flow>
</mule>
